FINNHUB_API_KEY = "{finnhub api key}"

SP500_COMPANY_PROFILES_FILE_PATH = "resources/sp500_company_profiles.csv"
SP500_COMPANIES_URL = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"    # URL to the Wikipedia page for S&P 500 constituents
US_BIG_TECH_URL = "https://en.wikipedia.org/wiki/List_of_largest_technology_companies_by_revenue"
SCHEMA_TRADES = "resources/schemas/trades.avsc"
SCHEMA_SP500_COMPANY_PROFILES = "resources/schemas/sp500_company_profiles.avsc"

SCHEMA_REGISTRY_URL = "http://localhost:8081"
BOOTSTRAP_SERVERS = "localhost:9092"
KAFKA_TOPIC_COMPANY_PROFILES = "finnhub_company_profiles"
KAFKA_TOPIC_TRADES = "finnhub_trades"
