# File paths to Avro schema definitions for various Kafka topics
SCHEMA_TRADES="../resources/schemas/trades.avsc"  # Schema for trade data messages
SCHEMA_SP500_COMPANY_PROFILES="../resources/schemas/sp500_company_profiles.avsc"  # Schema for S&P 500 company profile messages
SCHEMA_STOCK_SYMBOLS="../resources/schemas/stock_symbols.avsc"  # Schema for stock symbol messages

# URL of the Schema Registry, used for managing Avro schemas in Kafka
SCHEMA_REGISTRY_URL="http://schema-registry:8081"

# URL of the ksqlDB server, used for executing streaming SQL queries on Kafka topics
KSQLDB_URL="http://ksqldb-server:8088"

# WebSocket URL for ksqlDB, used for real-time streaming queries
KSQL_WS_URL="ws://ksqldb-server:8088"

# Kafka broker bootstrap servers, used for connecting to the Kafka cluster
BOOTSTRAP_SERVERS="broker:29092"

# Kafka topic for storing company profile data from Finnhub
KAFKA_TOPIC_COMPANY_PROFILES="finnhub_company_profiles"

# Kafka topic for storing real-time trade data from Finnhub
KAFKA_TOPIC_TRADES="finnhub_trades"

# Kafka topic for storing stock symbols (e.g., ticker symbols)
KAFKA_TOPIC_SYMBOLS="finnhub_company_symbols"

# Number of partitions for Kafka topics (determines parallelism and scalability)
KAFKA_PARTITIONS=1

# Replication factor for Kafka topics (determines fault tolerance and data redundancy)
KAFKA_REPLICATION_FACTOR=1
