CQLENG_ALLOW_SCHEMA_MANAGEMENT = 1

CASSANDRA_HOSTS_STR='["cassandra"]' # Delimeter for generating list is JSON

CASSANDRA_PORT=9042

CASSANDRA_KEYSPACE="market"

CASSANDRA_RETRY_ATTEMPTS=5

CASSANDRA_RETRY_DELAY=3
